.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 55px;
    padding-top: 73px;
}

.table-view{
    border: 1px solid #F7F7F7;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
}
.table-colum1{
    height: 30px;
    width: 70%;
    line-height: 30px;
    text-align: center;
    align-self: center;
}
.table-colum2{
    height: 30px;
    width: 10%;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}
.table-colum3{
    height: 30px;
    width: 20%;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}