<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongshun.dao.wechat.SkuMapper" >
  <resultMap id="BaseResultMap" type="com.rongshun.pojo.wechat.Sku" >
    <constructor >
      <idArg column="Id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="adddate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="addwho" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, name, adddate, addwho
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sku
    where Id = #{id,jdbcType=INTEGER}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sku
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rongshun.pojo.wechat.Sku" >
    insert into sku (Id, name, adddate, 
      addwho)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, now(),
      #{addwho,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rongshun.pojo.wechat.Sku" useGeneratedKeys="true" keyProperty="id">
    insert into sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="1 != 0" >
        adddate,
      </if>
      <if test="addwho != null" >
        addwho,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="1 != 0" >
        now(),
      </if>
      <if test="addwho != null" >
        #{addwho,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongshun.pojo.wechat.Sku" >
    update sku
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="adddate != null" >
        adddate = #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="addwho != null" >
        addwho = #{addwho,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rongshun.pojo.wechat.Sku" >
    update sku
    set name = #{name,jdbcType=VARCHAR},
      adddate = #{adddate,jdbcType=TIMESTAMP},
      addwho = #{addwho,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByName" resultType="com.rongshun.pojo.wechat.Sku">
    select <include refid="Base_Column_List"/>
    from sku
    where name = #{skuName}
  </select>
</mapper>